$white: #fff;
$text-light: #a3a3a3;
$card-shadow: rgba(0, 0, 0, 0.1);
$text-color: #404040;
$light-gray: #f8f9fb;
$seperator-color: #e6e6e6;
$primary-green: #22a958;

$starcolor-45: #3f7e00;
$starcolor-40: #5ba839;
$starcolor-35: #9acd32;
$starcolor-30: #cdd614;
$starcolor-25: #ffba00;
$starcolor-20: #ff7800;
$starcolor-15: #ff2717;
$starcolor-10: #c10914;

// 4
$light-limeade-color: rgba(91, 168, 41, 0.08);

// 45
$dark-bilbao-color: rgba(63, 126, 0, 0.08);

// 35
$light-yellow-green-color: rgba(154, 205, 50, 0.08);

$text-small: 12px;
$text-medium: 14px;
$text-size: 16px;
$text-large: 17px;
$text-m-large: 18px;
$text-x-large: 20px;

$font-ultraLight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;
$font-bolder: 700;

$card-shadow-1: 0 2px 6px 0 $card-shadow;
$card-shadow-2: 0 2px 12px 0 $card-shadow;
