:root {
  /* Primary */
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-drayish-violet: hsl(270, 7%, 64%);

  /* Gradiant colors */
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);

  /* Secondary */
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);

  --font-size: 16px;
  --font-family: Rubik, 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h4,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  background-color: var(--light-grayish-violet);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat {
  width: 26rem;
  background: var(--white);
  margin: 2rem auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.chat__topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background: linear-gradient(
    to right,
    var(--light-violet),
    var(--light-magenta)
  );
}

.chat__topbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat__topbar-left img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.5rem;
}

.chat__topbar-left-info {
  display: flex;
  flex-direction: column;
}

.chat__topbar-left-name {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}

.chat__topbar-left-availablity {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--pale-violet);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
